body,p,h1,h2,h3,h4,h5,h6,ol,ul,dl,dt,dd,li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: '微软雅黑';
    color:#666666;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    color: #e4393c;
}

img,input {
    margin: 0;
    padding: 0;
    outline: none;
    vertical-align: bottom;
    border:0 none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
}

.w_login {
    width: 980px;
    margin: 0 auto;
}

.w {
   width: 1190px;
   margin: 0 auto;
}
