
.header {
    background-color: #e3e4e5;
    height: 30px;
    border-bottom: 1px solid #dddddd;
    line-height: 30px;
}

.header .left {
    margin-left: 200px;
}

.header .right li{
    float: left;
    padding: 0 5px;
}

.header i {
    vertical-align: middle;
}